.content {
    display: flex;
}

.projects {
    display: flex;
    padding: 1rem;
    gap: 2rem;
}

.to-do-item-container {
    margin: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.button-container {
    display: flex;
    flex-direction: column;
}